
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth != null && exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }
    
    match /userProfile/{userId} {
      allow get, update, create: if isOwner(userId);
      allow list: if isAdmin();
    }
    
    match /roles_admin/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();
    }

    match /nutritionLogs/{logId} {
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow get: if request.auth != null && get(/databases/$(database)/documents/nutritionLogs/$(logId)).data.userId == request.auth.uid;
      allow list: if request.auth != null && request.query.where.userId == request.auth.uid && request.query.where.timestamp != null;
    }

    match /emergencyReports/{reportId} {
      allow create: if request.auth != null;
      allow read, list: if isAdmin();
    }

    match /hospitalFeedbacks/{feedbackId} {
      allow create: if request.auth != null;
      allow read, list: if isAdmin();
    }

    match /messFoodRatings/{ratingId} {
      allow get, create: if request.auth != null;
      allow list: if true;
    }
    
    match /appointments/{appointmentId} {
       allow create: if request.auth != null;
       allow read, list: if isAdmin();
    }
  }
}
